<div class="card-container">
  <nav>
    <div>
      <a routerLink="/products-component" routerLinkActive="active" ariaCurrentWhenActive="page">All products</a>
    </div>
  </nav>

  <router-outlet></router-outlet>